<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
      </handlers>
        <aspNetCore requestTimeout="00:20:00" processPath="%LAUNCHER_PATH%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="outofprocess" arguments="%LAUNCHER_ARGS%">
        <!--<environmentVariables>
          <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="44387" />
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        </environmentVariables>-->
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>
